@import "./theme.scss";

.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
}

.content {
  max-width: 1320px;
  width: 91.6vw;
  margin: 0 auto;
  position: relative;
}

.wrapper-description {
  position: relative;
  background-color: $blueDark;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 4.1vw;
  padding-right: 4.1vw;

  h1 {
    font-family: 'Open Sans';
    font-size: 58px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -2.32px;
    color: $white;
    max-width: 680px;
    margin-bottom: 20px;
    line-height: 62px;
  }
  h6 {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.4px;
    line-height: 26px;
    color: $white;
    max-width: 680px;
    margin-bottom: 40px;
  }

  @media screen and (max-width: $md) {
    h1 {
      font-size: 29px;
      line-height: 33px;
    }
    h6 {
      font-size: 16px;
      line-height: 20px;
    }
  }
  @media screen and (max-width: $xs) {
    margin-top: -180px;
  } 
}