//colors
$purple: #9A3359;
$pink: #E21D79;

$green: #96D503;
$yellow: #FFA300;

$blueDark: #004875;
$blue: #00CBFC;
$greeenDark: #00A5BD;
$green-200: #00CEB4;
$green-300: #00D9AC;

$white: #FFFFFF;
$white-100: #F3F3F3;
$white-200: #F5F6F6;

$black: #000000;
$black-700: #333F48;
$grey-100: #E6E6E6;
$grey-200: #C1C5C7;
$grey-300: #707070;

//media query
$xs: 408px;
$md: 767px;
$xl: 992px;
$xxl: 1439px;